<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/Ichrak-Hsoumi">
                        developed by Ichrak Hsoumi
                    </a>
                </li>
                <li>
                    <a href="http://www.agil.com.tn/fr/">
                        About Us
                    </a>
                </li>
                
            </ul>
        </nav>
        
    </div>
</footer>
